.empty {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #374151;
    font-size: 20px;
    text-align: center;
    height: 100%;

    .title {
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #4f46e5;
    }
}

@media screen and (max-width: 800px) {
    .empty {
        font-size: 18px;

        .title {
            font-size: 24px;
        }
    }
}